@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .csDropDownMenu > ul > li {
    display: inline-block;
    line-height: 50px;
    margin-right: 25px;
  }
  .csDropDownMenu > ul > li > a {
    font-size: 14px;
    font-weight: var(--ftw-strong);
    color: var(--text-dark);

    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }
  .csDropDownMenu > ul > li .subcsDropDownMenu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    transition: all 0.3s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    text-align: left;
  }

  .csDropDownMenu > ul > li.withChildren:hover .subcsDropDownMenu {
    margin-top: 1px;
    visibility: visible;
    opacity: 1;
  }

  .csDropDownMenu > ul > li .subcsDropDownMenu > ul > li {
    line-height: 1;
  }
  .csDropDownMenu > ul > li .subcsDropDownMenu > ul > li > a {
    display: inline-block;
    padding: 8px 0;

    transition: color 0.1s ease;
    text-decoration: none;
    text-transform: capitalize;
  }
  .csDropDownMenu > ul > li .singleCol {
    min-width: 280px;
    max-width: 350px;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenu
    > .listItem
    > ul
    > li {
    line-height: 1;
    display: block;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenu
    > .listItem
    > ul
    > li
    > a {
    padding: 6px 0;
    display: inline-block;
    font-size: 13px;
    font-weight: var(--ftw-semi);
    color: var(--text-dark);
    transition: color 0.1s ease;
  }
  .csDropDownMenu > ul > li .subcsDropDownMenu.megacsDropDownMenu {
    left: 50%;
    transform: translateX(-50%);
  }

  .csDropDownMenu > ul > li .subcsDropDownMenu.megacsDropDownMenuCol4 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 12px;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenuCol4
    > .listItem {
    flex: 0 0 25%;
    padding: 0 12px;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenuCol4
    > .listItem
    .title {
    font-size: 14px;
    font-weight: var(--ftw-strong);
    color: var(--dft-link);

    line-height: 1;
    padding: 8px 0;
    margin: 0;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenuCol4
    > .listItem.txtCenter
    .title {
    text-align: center;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenuCol4
    > .listItem
    img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
  }
  .csDropDownMenu
    > ul
    > li
    .subcsDropDownMenu.megacsDropDownMenu
    > .listItem
    > ul
    > li
    > a:hover,
  .csDropDownMenu > ul > li .subcsDropDownMenu > ul > li > a:hover,
  .csDropDownMenu > ul > li:hover > a {
    color: #ea4636;
    border-bottom: 2px solid #ea4636;
  }

  .mangifyImg img {
    max-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
}
